{% extends "graphgamel/index.html" %}

{% load adminmedia %}
{% load i18n %}

{% block branding %}
<h1 id="site-name">Sylva</h1>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url graph.views.index %}">Home</a>&rsaquo;
    <a href="{% url graph.views.editor graph_id %}">Editor</a>
</div>
{% endblock %}

{% block extraimports %}
    {{ block.super }}
    <script language="javascript" src="/site_media/js/raphael-min.js"></script>
    <script language="javascript" src="/site_media/js/graph-algorithms.js"></script>
    <script language="javascript" src="/site_media/js/graph-canvas.js"></script>
{% endblock %}

{% block extracode %}
<script type="application/javascript">

    var form_structure = eval({{ form_structure|safe }});
    var node_types = eval({{ node_types|safe }});
    var node_from_json = {};
    var relation_json = {};
    var node_to_json = {};
    var node_json = {};
    var gdata = eval({{ json_graph|safe }});
    var raphael;

    function updateSelect(step) {
    second_select = document.getElementById('relation_type');
    third_select = document.getElementById('node_to_type');
        if (step == 1) {
            value = document.getElementById('node_from_type').value;
            populateSelect(second_select, form_structure[value]);
        }
        if (step == 2) {
            value1 = document.getElementById('node_from_type').value;
            value2 = document.getElementById('relation_type').value;
            populateSelect(third_select, form_structure[value1][value2]);
        }
    }

    function populateSelect(select, data_source, blank_option) {
        if (blank_option) {
            select.options[0] = new Option("---", "");
            i = 1;
        } else {
            i = 0;
        }
        if (data_source instanceof Array) {
            for(i;i<data_source.length;i++) {
                key = data_source[i];
                select.options[i] = new Option(key, key);
            }
        } else {
            for (var key in data_source) {
                select.options[i] = new Option(key, key);
                i++;
            }
        }
    }

    function initSelects() {
        isolated_select = document.getElementById('node_type');
        populateSelect(isolated_select, node_types);
        first_select = document.getElementById('node_from_type');
        populateSelect(first_select, form_structure);
        updateSelect(1);
        updateSelect(2);
    }

    function initProperties() {
        loadProperties('node_from');
        loadProperties('relation');
        loadProperties('node_to');
    }

    function loadProperties(element) {
        label = element.split('_')[0];
        id_cell = document.getElementById(element+'_properties_id');
        if (label == "node") {
            field_value = document.getElementById(element+'_id').value;
            node_type = document.getElementById(element+'_type').value;
            if (node_id) {
                // Check if node exists
                $.ajax({url: location.href + "search_node",
                        data: {field_value: field_value,
                                node_type: node_type},
                        dataType: "json",
                        success: function(response) {
                            results = response['results'];
                            if (results.length == 1) {
                                eval(element+"_json=results[0]['properties']");
                                refreshData(element, results[0]['properties']);
                                if (element == "node") {
                                    document.getElementById("node_editor").style.display = "";
                                    document.getElementById("node_editor_link").href = 
                                        location.href + "node/" + results[0]['neo_id'];
                                }
                            } else {
                                refreshData(element, {});
                                if (element == "node") {
                                    document.getElementById("node_editor").style.display = "none";
                                }
                            }
                        }
                });
            }
            text = label + " " + field_value;
        } else {
            text = label;
        }
        id_cell.innerText = text;
    }

    function addProperty(element){
        form = document.getElementById(element);
        if (form.style.display == 'none') {
            form.style.display = '';
        } else {
            form.style.display = 'none';
        }
    }

    function saveProperty(element) {
        key = document.getElementById(element+'_key').value;
        if (key) {
            value = document.getElementById(element+'_value').value;
            data = eval(element+'_json');
            data[key] = value;
            refreshData(element, data);
            document.getElementById(element+'_key').value = "";
            document.getElementById(element+'_value').value = "";
            document.getElementById(element+'_properties_form').style.display = 'none';
            document.getElementById(element+'_properties_hidden').value = JSON.stringify(data);
        }
    }

    function refreshData(element, data) {
        output = "<table>";
        for (var i in data) {
            if (i.length > 0 && i[0] != "_") {
                output += "<tr><td>" + i + ":</td><td>" + data[i] + "</td></td>";
            }
        }
        output += "</table>";
        document.getElementById(element+'_properties').innerHTML = output;
    }

    function refreshSelect(element) {
        loadProperties(element);
        GRAPHGAMEL.get_autocompletion_objects(element+"_type", element+"_id");
    }

    window.onload = function() {
        initSelects();
        initProperties();
        document.getElementById('node_from_properties_form').style.display = 'none';
        document.getElementById('relation_properties_form').style.display = 'none';
        document.getElementById('node_to_properties_form').style.display = 'none';
        document.getElementById('node_properties_form').style.display = 'none';
        document.getElementById("node_editor").style.display = "none";
        GRAPHGAMEL.get_autocompletion_objects("node_type", "node_id");
        GRAPHGAMEL.get_autocompletion_objects("node_from_type", "node_from_id");
        GRAPHGAMEL.get_autocompletion_objects("node_to_type", "node_to_id");
        GRAPHGAMEL.get_autocompletion_objects("searchbar", "searchbar");
        raphael = new RaphaelGraph(gdata);
        raphael.set_size(600,200);
        raphael.events_enabled = false;
        raphael.draw("random");
        raphael.draw("spring");
        raphael.default_node_color = "#E4E4E4";
        raphael.toggle_labels("id");
    }
</script>
{% endblock %}

{% block content %}
<div id="content" class="colMS">
<div id="content-main">
<h3>Add isolated node</h3>
<form action="." method="POST">
    <select id="node_type" name="node_type" onChange="refreshSelect('node'); "></select>
    <input id="node_id" name="node_id" type="text" onChange="loadProperties('node');"/>
    <input type="hidden" name="mode" value="node"/>
    <input id="node_properties_hidden" name="node_properties" type="hidden" value="{}"/>
    <input type="submit" value="Commit"/>
</form>
<h5>Properties</h5>
<table>
    <tr class="row1">
        <td id="node_properties_id"></td>
        <td><a class="addlink" onClick="addProperty('node_properties_form');">Add property</a></td>
        <td>
            <div id="node_properties_form">
                <input type="text" id="node_key"/>
                <input type="text" id="node_value"/>
                <input type="button" value="Save" onclick="saveProperty('node');"/>
            </div>
            <div id="node_properties"></div>
        </td>
    </tr>
</table>
<div id="node_editor">
    <a id="node_editor_link" href="." class="changelink">Browse this node</a>
</div>
<h3>Add relation</h3>
Schema: {{ schema }}
<div id="canvas"> </div> 
<form action="." method="POST">
    <select id="node_from_type" name="node_from_type" onchange="updateSelect(1);updateSelect(2);refreshSelect('node_from');">
    </select>
    <input id="node_from_id" name="node_from_id" type="text" onchange="loadProperties('node_from');"/>
    <select id="relation_type" name="relation_type" onchange="updateSelect(2);loadProperties('relation');">
    </select>
    <select id="node_to_type" name="node_to_type" onchange="refreshSelect('node_to');">
    </select>
    <input id="node_to_id" name="node_to_id" type="text" onchange="loadProperties('node_to');"/>
    <input id="node_from_properties_hidden" name="node_from_properties" type="hidden" value="{}"/>
    <input id="relation_properties_hidden" name="relation_properties" type="hidden" value="{}"/>
    <input id="node_to_properties_hidden" name="node_to_properties" type="hidden" value="{}"/>
    <input type="hidden" name="mode" value="relation"/>
    <input type="submit" value="Commit"/>
    <br/>
</form>
<h5>Properties</h5>
<table>
    <tr class="row1">
        <td id="node_from_properties_id"></td>
        <td><a class="addlink" onClick="addProperty('node_from_properties_form');">Add property</a></td>
        <td>
            <div id="node_from_properties_form">
                <input type="text" id="node_from_key"/>
                <input type="text" id="node_from_value"/>
                <input type="button" value="Save" onclick="saveProperty('node_from');"/>
            </div>
            <div id="node_from_properties"></div>
        </td>
    </tr>
    <tr class="row2">
        <td id="relation_properties_id"></td>
        <td><a class="addlink" onClick="addProperty('relation_properties_form');">Add property</a></td>
        <td>
            <div id="relation_properties_form">
                <input type="text" id="relation_key"/>
                <input type="text" id="relation_value"/>
                <input type="button" value="Save" onclick="saveProperty('relation');"/>
            </div>
            <div id="relation_properties"></div>
        </td>
    </tr>
    <tr class="row1">
        <td id="node_to_properties_id"></td>
        <td><a class="addlink" onClick="addProperty('node_to_properties_form');">Add property</a></td>
        <td>
            <div id="node_to_properties_form">
                <input type="text" id="node_to_key"/>
                <input type="text" id="node_to_value"/>
                <input type="button" value="Save" onclick="saveProperty('node_to');"/>
            </div>
            <div id="node_to_properties"></div>
        </td>
    </tr>
</table>
</div>
<div id="content-related">
    <div class="module" id="search-module">
        <form action="search_node" method="get">
            <label for="searchbar"><img src="{% admin_media_prefix %}img/admin/icon_searchbox.png" alt="Search" /></label>
            <input type="text" size="20" name="field_value" id="searchbar" />
            <input type="submit" value="Search" />
        </form>
    </div>
    <div class="module" id="recent-actions-module">
        <h2>Recent Actions</h2>
        <h3>My Actions</h3>
        <ul class="actionlist">
        {% for history in history_list %}
        <li>
            <a href="{% if history.element_id %}
                        {% ifequal history.element_type 'node' %}
                            {% url graph.views.node_info graph_id history.element_id %}
                        {% endifequal %}
                        {% ifequal history.element_type 'edge' %}
                            {% url graph.views.relation_info graph_id history.element_id.0 history.element_id.1 history.element_id.2 %}
                        {% endifequal %}
                    {% endif %}">{{ history.title }}</a>
            <br>
            <span class="mini quiet">{{ history.text }}</span>
        </li>
        {% endfor %}
        </ul>
    </div>
</div>
</div>
{% endblock %}

