{% extends "admin/change_list.html" %}

{% load adminmedia %}
{% load i18n %}

{% block title %}Graphgamel{% endblock %}

{% block branding %}
<h1 id="site-name">Graphgamel</h1>
<div id="user-tools">
{% if user.is_active %}
    {% trans 'Welcome,' %}
    <strong>{% firstof user.first_name user.username %}</strong>.
    {% block userlinks %}
        <a href="{% url admin:index %}">Admin</a> /
        {% url admin:password_change as password_change_url %}
        {% if password_change_url %}
            <a href="{{ password_change_url }}">
        {% else %}
            <a href="{{ root_path }}password_change/">
        {% endif %}
        {% trans 'Change password' %}</a> /
        <a href="{% url django.contrib.auth.views.logout %}?next={% url graph.views.index %}">{% trans 'Log out' %}</a>
    {% endblock %}
{% else %}
    <a href="{% url django.contrib.auth.views.login %}?next={% url graph.views.index %}">{% trans 'Log in' %}</a>
{% endif %}
</div>
{% endblock %}

{% block extrahead %}
    {% block extraimports %}
    <link rel="stylesheet" type="text/css" href="/site_media/css/graphgamel.css"/>
    <script language="javascript" src="/site_media/js/jquery-1.3.2.min.js"></script>
    <script language="javascript" src="/site_media/js/graphgamel.js"></script>
    <!-- jQuery autocompletion plugin -->
    <script type="text/javascript" src="http://dev.jquery.com/view/trunk/plugins/autocomplete/lib/jquery.bgiframe.min.js"></script>
    <script type="text/javascript" src="http://dev.jquery.com/view/trunk/plugins/autocomplete/jquery.autocomplete.js"></script>
    {% endblock %}
    {% block extracode %}
    {% endblock %}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url graph.views.index %}">Home</a>
</div>
{% endblock %}

{% block content %}
<h1>Available Graphs</h1>
{% for graph in graph_list %}
    <ul>
        <li>
            <h3>{{ graph.name }}: {{ graph.description }}</h3>
            <ul>
            <li><a class="changelink" href="{% url graph.views.editor graph.id %}">Edit graph</a></li>
            <li><a href="{% url graph.views.search_node graph.id %}">
                Browse data
            </a></li>
            </ul>
        </li>
    </ul>
{% endfor %}

{% endblock %}
