{% extends "graphgamel/index.html" %}

{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url graph.views.index %}">Home</a>&rsaquo;
    <a href="{% url graph.views.editor graph_id%}">Editor</a>&rsaquo;
    <a href="{% url graph.views.node_info graph_id node_id %}">Node Info</a>
</div>
{% endblock %}


{% block extraimports %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/site_media/third_party/jCarousel/css/tango/skin.css"/>
    <link rel="stylesheet" type="text/css" href="/site_media/third_party/prettyPhoto/css/prettyPhoto.css"/>
    <script language="javascript" src="/site_media/third_party/jCarousel/js/jquery.jcarousel.min.js"></script>
    <script language="javascript" src="/site_media/third_party/prettyPhoto/js/jquery.prettyPhoto.js"></script>
{% endblock %}

{% block extracode %}
<script type="application/javascript">

    var SCHEMA_DATA = {outgoing: {{ outgoing|safe }},
                        incoming: {{ incoming|safe }}}

    jQuery(document).ready(function() {
        jQuery('#mycarousel').jcarousel({
            wrap: "both",
            scroll: 1,
        });
        $(".gallery a[rel^='prettyPhoto']").prettyPhoto();
    });


    function search_for_new_relationship(element) {
        create_new_relation = false;
        data = {};
        relation_type = document.getElementById(element+'_relation').value;
        $.ajax({url: "{% url graph.views.search_node graph_id %}",
                dataType: "json",
                data: {field_value: document.getElementById(element+'_node_id').value,
                        node_type: document.getElementById(element+'_node_type').value},
                success: function(response, success, results) {
                    if (response.results.length == 1) {
                        properties = response.results[0].properties;
                        info = "A node with the following information has been found:\n\n";
                        for (var key in properties) {
                            info += key + ": " + properties[key] + "\n";
                        }
                        info += "\nDo you want to create a " + relation_type + " link with it?";
                        if (confirm(info)) {
                            destination = response.results[0].neo_id;
                            edge_type = relation_type;
                            if (element == "in") {
                                reversed = true;
                            } else {
                                reversed = false;
                            }
                            self.location = location.href + "create_raw_relationship?reversed="+ reversed + "&destination="+ destination +"&edge_type="+edge_type;
                        }
                    }
                }
        });
    }

    function load_media(element, media_type, address) {
        /* Hack while browsers implement HTML5 "preload" attribute succesfully */
        parent = element.parentNode;
        el = document.createElement(media_type);
        el.src = address;
        el.controls = true;
        error_msg = "Your browser does not support the " + media_type + "element";
        el.appendChild(document.createTextNode(error_msg));
        parent.appendChild(el);
        parent.removeChild(element);
    }

    window.onload = function() {
        {% if authorized and user.is_authenticated %}
            GRAPHGAMEL.authenticated = true;
            GRAPHGAMEL.populate_select(document.getElementById('out_relation'),
                            SCHEMA_DATA.outgoing);
            if (document.getElementById('out_relation').value != "") {
                GRAPHGAMEL.populate_select(document.getElementById('out_node_type'),
                            SCHEMA_DATA.outgoing[document.getElementById('out_relation').value]);
                GRAPHGAMEL.get_autocompletion_objects("out_node_type", "out_node_id");
            }
            GRAPHGAMEL.populate_select(document.getElementById('in_relation'),
                            SCHEMA_DATA.incoming);
            if (document.getElementById('in_relation').value != "") {
                GRAPHGAMEL.populate_select(document.getElementById('in_node_type'),
                            SCHEMA_DATA.incoming[document.getElementById('in_relation').value]);
                GRAPHGAMEL.get_autocompletion_objects("in_node_type", "in_node_id");
            }
        {% else %}
            GRAPHGAMEL.authenticated = false;
        {% endif %}
        GRAPHGAMEL.populate_table('properties_table', {{ properties|safe }});
        GRAPHGAMEL.populate_embed_objects([['gbook_div', '_gbook']], {{ properties|safe }});
    }
</script>
{% endblock %}

{% block content %}
<h1>Node {{ node_name }} info</h1>
<div id="info-main-content">
    {% if user.is_authenticated and not authorized %}
    <p class="nopermission">READ ONLY MODE<br/>
    Your user is not able to edit this data. If you 
    want to add information, please log in as an authorized user.</p>
    {% endif %}
    <h3>Actions</h3>
        <p><a target="_blank" href="{% url graph.views.visualize graph_id node_id %}">
            Visualize node
        </a></p>
        {% if authorized and user.is_authenticated %}
        <p><a class="deletelink" onclick="GRAPHGAMEL.delete_node()">
            Delete this node
        </a></p>
            {% if media_items.meta.id %}
                <p><a href="{% url admin:index %}graph/node/{{ media_items.meta.id }}/"
                class="changelink">Edit multimedia files in admin panel</a></p>
            {% endif %}
        {% endif %}
<h3>Properties</h3>
<table id="properties_table" class="properties"></table>
{% if authorized and user.is_authenticated %}
    <h5>Add property</h5>
        <input type="text" id="new_property_key">
        <input type="text" id="new_property_value">
        <input type="button" value="Add new property" onClick="GRAPHGAMEL.add_property()">
{% endif %}
<h3>Relationships</h3>
Showing page {{ pagination.page|add:"1" }} of {{ pagination.total|add:"1" }}
<a href="{% url graph.views.node_info graph_id node_id pagination.previous %}">Previous</a> | 
<a href="{% url graph.views.node_info graph_id node_id pagination.next %}">Next</a>
<table>
{% for relation in relationships %}
    <tr>
        <td><a href="{% url graph.views.node_info graph_id relation.start_neo_id %}">{{ relation.start_id }}</a>
            ({{ relation.start_type }})</td>
        <td>{{ relation.relation_type }}</td>
        <td><a href="{% url graph.views.node_info graph_id relation.end_neo_id %}">{{ relation.end_id }}</a>
            ({{ relation.end_type }})</td>
        <td><a href="{% url graph.views.relation_info graph_id relation.start_neo_id relation.relation_type relation.end_neo_id %}">Open this relation</a></td>
        {% if authorized and user.is_authenticated  %}
        <td><a href="{% url graph.views.delete_relationship graph_id node_id relation.relation_id pagination.page %}">Delete this relation</a>
        </td>
        {% endif %}
    <tr>
{% endfor %}
</table>
{% if authorized and user.is_authenticated  %}
<h5>Add outgoing relationship</h5>
<span class="label">This node</span>
<select id="out_relation" name="out_relation" onblur="GRAPHGAMEL.populate_select(document.getElementById('out_node_type'), SCHEMA_DATA['outgoing'][document.getElementById('out').value])"></select>
<select id="out_node_type" name="out_node_type" onChange="GRAPHGAMEL.get_autocompletion_objects ('out_node_type', 'out_node_id')";></select>
<input id="out_node_id" name="out_node_id" type="text"/>
<input type="button" value="Search node" onclick="search_for_new_relationship('out');">
<h5>Add incoming relationship</h5>
<select id="in_node_type" name="in_node_type" onChange="GRAPHGAMEL.get_autocompletion_objects('in_node_type', 'in_node_id')"></select>
<input id="in_node_id" name="in_node_id"/>
<select id="in_relation" name="in_relation" onblur="GRAPHGAMEL.populate_select(document.getElementById('in_node_type'), SCHEMA_DATA['incoming'][document.getElementById('in_relation').value])"></select>
<span class="label">This node</span>
<input type="button" value="Search node" onclick="search_for_new_relationship('in');">
{% endif %}
</div>
<div id="info-right-content">
    <h3>Media</h3>
    {% if authorized and user.is_authenticated %}
    <h5>Add media</h5>
    <form method="POST" enctype="multipart/form-data" action="./add_media/">
        <select id="media_type" name="media_type">
            <option value="image">Image</option>
            <option value="document">Document</option>
            <option value="audio">Audio</option>
            <option value="video">Video</option>
        </select>
        <input type="text" name="media_caption">
        <input type="file" name="media_file">
        <input type="submit" value="Add media">
    </form>
    <h5>Add link</h5>
    <form method="POST" action="./add_media_link/">
        <select id="media_type" name="media_type">
            <option value="_gbook">Google Book</option>
        </select>
        <input type="text" name="media_link">
        <input type="submit" value="Add media">
    </form>
    {% endif %}
    <div id="gbook_div"></div>
    {% if 'image' in media_items %}
        <h5>Images</h5>
        <ul id="mycarousel" class="jcarousel-skin-tango gallery">
        {% for item in media_items.image %}
            <li>
                <a href="{{ item.url }}" rel="prettyPhoto[g1]" title="{{ item.caption }}">
                    <img  class="node_media" src="{{ item.url }}" href="{{ item.url }}"/>
                </a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    {% if 'document' in media_items %}
        <h5>Documents</h5>
        {% for item in media_items.document %}
            <p>
                <a href="{{ item.url }}">{{ item.caption }}</a>
            </p>
        {% endfor %}
    {% endif %}
    {% if 'audio' in media_items %}
        <h5>Audio</h5>
        <table>
        {% for item in media_items.audio %}
        <tr class="audio_item">
            <td class="audio_caption">{{ item.caption }}</td>
            <td><img src="/site_media/images/media_player.png" onclick="load_media(this, 'audio', '{{ item.url }}')"></td>
        </tr>
        {% endfor %}
        </table>
    {% endif %}
    {% if 'video' in media_items %}
        <h5>Videos</h5>
        <table>
        {% for item in media_items.video %}
            <tr class="audio_item">
            <td class="audio_caption">{{ item.caption }}</td>
            <td><img src="/site_media/images/media_player.png" onclick="load_media(this, 'video', '{{ item.url }}')"></td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
</div>
{% endblock %}
