{% extends "graphgamel/index.html" %}

{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url graph.views.index %}">Home</a>&rsaquo;
    <a href="{% url graph.views.editor graph_id%}">Editor</a>&rsaquo;
    <a href="{% url graph.views.node_info graph_id node_id %}">Node Info</a>
</div>
{% endblock %}


{% block extraimports %}
    <link rel="stylesheet" type="text/css" href="/site_media/css/graphgamel.css"/>
    <link rel="stylesheet" type="text/css" href="/site_media/third_party/jCarousel/css/tango/skin.css"/>
    <link rel="stylesheet" type="text/css" href="/site_media/third_party/prettyPhoto/css/prettyPhoto.css"/>
    <script language="javascript" src="/site_media/js/jquery-1.3.2.min.js"></script>
    <script language="javascript" src="/site_media/third_party/jCarousel/js/jquery.jcarousel.min.js"></script>
    <script language="javascript" src="/site_media/third_party/prettyPhoto/js/jquery.prettyPhoto.js"></script>
    <script language="javascript" src="/site_media/js/graphgamel.js"></script>
{% endblock %}

{% block extracode %}
<script type="application/javascript">

    var SCHEMA_DATA = {outgoing: {{ outgoing|safe }},
                        incoming: {{ incoming|safe }}}

    jQuery(document).ready(function() {
        jQuery('#mycarousel').jcarousel({
            wrap: "both",
            scroll: 1,
        });
        $(".gallery a[rel^='prettyPhoto']").prettyPhoto();
    });


    window.onload = function() {
        GRAPHGAMEL.populate_table('properties_table', {{ properties|safe }});
        GRAPHGAMEL.populate_select(document.getElementById('out_relation'),
                        SCHEMA_DATA.outgoing);
        if (document.getElementById('out_relation').value != "") {
            GRAPHGAMEL.populate_select(document.getElementById('out_node_type'),
                        SCHEMA_DATA.outgoing[document.getElementById('out_relation').value]);
        }
        GRAPHGAMEL.populate_select(document.getElementById('in_relation'),
                        SCHEMA_DATA.incoming);
        if (document.getElementById('in_relation').value != "") {
            GRAPHGAMEL.populate_select(document.getElementById('in_node_type'),
                        SCHEMA_DATA.incoming[document.getElementById('in_relation').value]);
        }
    }
</script>
{% endblock %}

{% block content %}
<h1>Node {{ node_name }} info</h1>
<div id="info-main-content">
<h3>Actions</h3>
<a class="deletelink" onclick="GRAPHGAMEL.delete_node()">Delete this node</a>
<h3>Properties</h3>
<table id="properties_table" class="properties"></table>
<h5>Add property</h5>
    <input type="text" id="new_property_key">
    <input type="text" id="new_property_value">
    <input type="button" value="Add new property" onClick="GRAPHGAMEL.add_property()">
<h3>Relationships</h3>
<table>
{% for relation in relationships %}
    <tr>
        <td><a href="{% url graph.views.node_info graph_id relation.start_neo_id %}">{{ relation.start_id }}</a>
            ({{ relation.start_type }})</td>
        <td>{{ relation.relation_type }}</td>
        <td><a href="{% url graph.views.node_info graph_id relation.end_neo_id %}">{{ relation.end_id }}</a>
            ({{ relation.end_type }})</td>
        <td><a href="{% url graph.views.relation_info graph_id relation.start_neo_id relation.relation_type relation.end_neo_id %}">Open relation</a></td>
    <tr>
{% endfor %}
</table>
<h5>Add outgoing relationship</h5>
<select id="out_relation" name="out_relation" onblur="GRAPHGAMEL.populate_select(document.getElementById('out_node_type'), SCHEMA_DATA['outgoing'][document.getElementById('out_relation').value])"></select>
<select id="out_node_type" name="out_node_type"></select>
<input id="out_node_id" name="out_node_id">
<input type="button" value="Search node" onclick="GRAPHGAMEL.search_node('out_node');">
<h5>Add incoming relationship</h5>
<select id="in_relation" name="in_relation" onblur="GRAPHGAMEL.populate_select(document.getElementById('in_node_type'), SCHEMA_DATA['incoming'][document.getElementById('in_relation').value])"></select>
<select id="in_node_type" name="in_node_type"></select>
<input id="in_node_id" name="in_node_id">
<input type="button" value="Search node" onclick="GRAPHGAMEL.search_node('out_node');">
</div>
<div id="info-right-content">
    <h3>Media</h3>
    <h5>Add media</h5>
    <form method="POST" enctype="multipart/form-data" action="./add_media/">
        <select id="media_type" name="media_type">
            <option value="image">Image</option>
            <option value="document">Document</option>
            <option value="audio">Audio</option>
            <option value="video">Video</option>
        </select>
        <input type="text" name="media_caption">
        <input type="file" name="media_file">
        <input type="submit" value="Add media">
    </form>
    {% if 'image' in media_items %}
        <h5>Images</h5>
        <ul id="mycarousel" class="jcarousel-skin-tango gallery">
        {% for item in media_items.image %}
            <li>
                <a href="{{ item.url }}" rel="prettyPhoto[g1]" title="{{ item.caption }}">
                    <img  class="node_media" src="{{ item.url }}" href="{{ item.url }}"/>
                </a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    {% if 'document' in media_items %}
        <h5>Documents</h5>
        {% for item in media_items.document %}
            <p>
                <a href="{{ item.url }}">{{ item.caption }}</a>
            </p>
        {% endfor %}
    {% endif %}
    {% if 'audio' in media_items %}
        <h5>Audio</h5>
        <table>
        {% for item in media_items.audio %}
        <tr class="audio_item">
            <td class="audio_caption">{{ item.caption }}</td>
            <td><audio src="{{ item.url }}" controls>Your browser does not support the audio element</audio></td>
        </tr>
        {% endfor %}
        </table>
    {% endif %}
    {% if 'video' in media_items %}
        <h5>Videos</h5>
        <table>
        {% for item in media_items.video %}
            <tr class="audio_item">
            <td class="audio_caption">{{ item.caption }}</td>
            <td><video src="{{ item.url }}" controls>Your browser does not support the video element</video></td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
    {% if media_items.meta.id %}
    <a href="/admin/graph/node/{{ media_items.meta.id }}/" class="changelink">Edit multimedia files in admin panel</a>
    {% endif %}
</div>
{% endblock %}
