{% extends "graphgamel/index.html" %}

{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url graph.views.index %}">Home</a>&rsaquo;
    <a href="{% url graph.views.editor graph_id%}">Editor</a>&rsaquo;
    <a href="{% url graph.views.relation_info graph_id start_node_id edge_type end_node_id%}">Relation Info</a>
</div>
{% endblock %}

{% block extracode %}
<script type="application/javascript">
    window.onload = function() {
        GRAPHGAMEL.populate_table('properties_table', {{ properties|safe }});
        GRAPHGAMEL.populate_table('start_node_properties_table', {{ start_node_properties|safe }});
        GRAPHGAMEL.populate_table('end_node_properties_table', {{ end_node_properties|safe }});
    }
</script>
{% endblock %}

{% block content %}
<div id="main">
<h1>Relationship info</h1>
{% if user.is_authenticated %}
    <h3>Actions</h3>
    <a class="deletelink" onclick="GRAPHGAMEL.delete_relationship()">Delete this relationship</a>
{% endif %}
<h3>Properties</h3>
<table id="properties_table" class="properties"></table>
{% if user.is_authenticated %}
    <h5>Add property</h5>
        <input type="text" id="new_property_key">
        <input type="text" id="new_property_value">
        <input type="button" value="Add new property" onClick="GRAPHGAMEL.add_property()">
<h3>Node from</h3>
<table id="start_node_properties_table" class="properties"></table>
<h3>Node to</h3>
<table id="end_node_properties_table" class="properties"></table>
</div>
{% endif %}
{% endblock %}
