<script type="application/javascript">
    function delete_isolated() {}

    function load_graph_state() {}

    function save_graph_state() {}

</script>
<div id="actions_menu" class="menu">
    <p><a class="action" onClick="reset_graph()">Reset graph</a></p>
    <p><a class="action" onClick="save_graph_state()">Save graph state</a></p>
    <p><a class="action" onClick="load_graph_state()">Load graph state</a></p>
    <p><a class="action" onClick="delete_isolated()">Delete isolated nodes</a></p>
</div>

