<html>
<head>
{% block title %}
    <title>Sylva Viewer</title>
{% endblock %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/site_media/css/explorer.css" rel="stylesheet" type="text/css">
{% block javascript_imports %}
{% endblock %}
<script language="javascript" src="/site_media/js/console.js"></script>
<script language="javascript" src="/site_media/js/jquery-1.3.2.min.js"></script>
{% block javascript %}{% endblock %}
{% block raphael %}{% endblock %}
</head>
<body>
{% block processing %}{% endblock %}
<div id="container">
    {% block header %}{% endblock %}
    {% block menu %}{% endblock %}
    {% block content %}{% endblock %}
</div>
{% block bottombar %}{% endblock %}
{% block extra %}{% endblock %}
</body>
</html>
