{% extends "graphgamel/graphview/base.html" %}

{% block javascript_imports %}
<script language="javascript" src="/site_media/js/menu-controls.js"></script>
<script language="javascript" src="/site_media/js/raphael-min.js"></script>
<script language="javascript" src="/site_media/js/raphael-widgets.js"></script>
<script language="javascript" src="/site_media/js/graph-algorithms.js"></script>
<script language="javascript" src="/site_media/js/graph-canvas.js"></script>
<script language="javascript" src="/site_media/js/raphael-menu.js"></script>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" charset="utf-8"> 
        var selected_node;
        var selected_edge;
        var terminal;
        var gdata = eval({{ json_graph|safe }});
        var raphael;
        var raphael_menu;

        function delete_node() {
            if (raphael.multiselection) {
                raphael.multiselection = false;
                for(var node_id in raphael.multiselection_table) {
                    raphael.delete_node(raphael.multiselection_table[node_id]);
                }
            } else {
                raphael.delete_node(selected_node);
            }
        }

        function delete_edge() {raphael.delete_edge(selected_edge);}

        function expand_node() {
            function fsuccess(response) {
                new_graph = eval(response['new_gdata']);
                for (var node in new_graph.nodes) {
                    raphael.add_node(new_graph.nodes[node]);
                }
                counter = 0;
                for (var edge_id in gdata.edges) {
                    counter += 1;
                }
                for (var edge_id in new_graph.edges) {
                    edge_exists = false;
                    for (var old_edge_id in gdata.edges) {
                        if ((gdata.edges[old_edge_id].id == new_graph.edges[edge_id].id) &&
                            (gdata.edges[old_edge_id].node1 == new_graph.edges[edge_id].node1) &&
                            (gdata.edges[old_edge_id].node2 == new_graph.edges[edge_id].node2)) {
                                edge_exists = true;
                                break;
                            }
                    }
                    if (edge_exists) 
                        continue;
                    else {
                        edge_index = counter + parseInt(edge_id);
                        gdata.edges[edge_index.toString()] = new_graph.edges[edge_id];
                    }
                }
                raphael.render();
            }
            function ferror(response) {
                alert('ERROR expanding node');
            }
            function execute(node_id) {
                url = "{% url graph.views.expand_node graph_id %}";
                node_type = gdata['nodes'][selected_node]['_type'];
                $.ajax({url: url,
                    type:"GET",
                    dataType:"json",
                    data: {'node_id': node_id,
                    'node_type': node_type},
                    success: fsuccess,
                    error: ferror});
                raphael.disable_selection(node_id);
            }
            if (raphael.multiselection) {
                raphael.multiselection = false;
                for(var node_id in raphael.multiselection_table) {
                    execute(raphael.multiselection_table[node_id]);
                }
            } else {
                execute(selected_node);
             
            }
            
        }

        function toggle_nodes(node_type) {
            raphael.toggle_nodes(node_type);
        }

        function multi_select() {
            if (!raphael.multiselection) {
                raphael.multiselection_table = []
                raphael.multiselection_table.push(selected_node);
                raphael.enable_selection(selected_node);
                raphael.multiselection = true;
            } else {
                 raphael.multiselection = false;
                 for(i=raphael.multiselection_table.length;i>0;i--) {
                     raphael.disable_selection(raphael.multiselection_table[i-1]);
                     raphael.multiselection_table.pop();
                }
            }
        }

        function open_node_info() {
            function fsuccess(response) {
                function fclose() {
                    iframe = document.getElementById('info_iframe');
                    iframe.parentNode.removeChild(iframe);
                    button = document.getElementById('btn_iframe');
                    button.parentNode.removeChild(button);
                }
                url = "{% url graph.views.node_info graph_id '0' %}".replace('0', response['node_id']);
                iframe = document.createElement('iframe');
                iframe.setAttribute('src', url);
                iframe.setAttribute('id', 'info_iframe');
                iframe.setAttribute('width', '85%');
                iframe.setAttribute('height', '85%');
                iframe.setAttribute('style', 'position:absolute;top:50;left:50');
                close = document.createTextNode('Close Info');
                button = document.createElement('button');
                button.setAttribute('id', 'btn_iframe');
                button.setAttribute('style', 'position:absolute;top:30;left:50');
                button.onclick = fclose;
                button.appendChild(close);
                document.body.appendChild(iframe);
                document.body.appendChild(button);
            }
            function ferror(response) {
                alert('ERROR opening node info');
            }
            function execute(node_id) {
                url = "{% url graph.views.open_node_info graph_id %}";
                node_type = gdata['nodes'][selected_node]['_type'];
                $.ajax({url: url,
                    type:"GET",
                    dataType:"json",
                    data: {'node_id': node_id,
                        'node_type': node_type},
                    success: fsuccess,
                    error: ferror});
            }
            if (!raphael.multiselection) {
               execute(selected_node);
            } else {
                for(i=raphael.multiselection_table.length;i>0;i--) {
                    execute(raphael.multiselection_table[i-1]);
                }
            }
        }

        function export_to_gexf() {
            location.href = "{% url graph.views.json_to_gexf 'JVAR' %}"
            .replace('JVAR', encodeURIComponent(JSON.stringify(raphael.data)));
        }

        function createTopicsMenu(raphael) {
            for(var type in raphael.style.topics) {
                input = document.createElement('input')
                input.setAttribute('type', 'checkbox');
                input.setAttribute('onclick', 'toggle_nodes(\'' + type + '\')');
                input.setAttribute('checked', '');
                span = document.createElement('span');
                color = raphael.style.topics[type];
                span.setAttribute('style', 'color:' + color);
                text = document.createTextNode(type);
                span.appendChild(text);
                topicsMenu = document.getElementById('topics_menu');
                topicsMenu.appendChild(input);
                topicsMenu.appendChild(span);
                topicsMenu.appendChild(document.createElement('br'));
            }
        }
    </script> 
{% endblock %}

{% block raphael %}
    <script type="text/javascript" charset="utf-8">
        window.onload = function () {
            raphael = new RaphaelGraph(gdata);
            raphael.draw("random");
            sylvaConsole = new SylvaConsole(document.getElementById('shell'),
                                            document.getElementById('shellLog'));
            sylvaConsole.terminalWidget.onkeydown = sylvaConsole.onKeyDown;
            MenuControl.render_controls('.menu');
            RaphaelMenu.draw(raphael);
            createTopicsMenu(raphael);
        }
    </script>
{% endblock %}

{% block menu %}
        <div id="explorer_menu"></div>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="commandPrompt">
            <input id="shell" type="text" size="40" class="commandPrompt"/>
            <span id="shellLog" class="commandPromptLog">Press ENTER to execute commands</span>
        </div>
        <div id="canvas"> </div>
        <div id="info">
            {% block extra_controls %}{% endblock %}
        </div>
        <div id="floating_menus">
            <div id="topics_menu" class="menu">
                <span/>
            </div>
        </div>
    </div>
{% endblock %}

{% block bottombar %}
{% endblock %}
