<div id="menubar" class="bar menubar">
    <span id="plexigraph_button" class="menuoption" onClick="MenuControl.toggle('plexigraph_menu')">Plexigraph</span>
    <span id="info_button" class="menuoption" onClick="MenuControl.toggle('dataset_info_menu')">Info</span>
    <span id="topics_button" class="menuoption" onClick="MenuControl.toggle('topics_menu')">Topics</span>
    <span id="actions_button" class="menuoption" onClick="MenuControl.toggle('actions_menu')">Actions</span>
    <span id="query_button" class="menuoption" onClick="MenuControl.toggle('query_menu')">Query</span>
    <span id="labels_button" class="menuoption" onClick="MenuControl.toggle('labels_menu')">Labels</span>
    <span id="layout_button" class="menuoption" onClick="MenuControl.toggle('layouts_menu')">Layout</span>
    <span id="options_button" class="menuoption" onClick="MenuControl.toggle('options_menu')">Options</span>
</div>
