{% extends "admin/change_form.html" %}

{% load adminmedia %}
{% load i18n %}

{% block title %}Sylva: Graph Schema Manager{% endblock %}

{% block branding %}
<h1 id="site-name">Sylva: Graph Schema Manager</h1>
{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url graph.views.index %}">Home</a> &rsaquo;
    <a href="{% url graph.views.editor graph_id %}">Graph: {{ graph.name }}</a> &rsaquo;
    <a href="{% url graph.views.editor graph_id %}">Schema</a>
</div>
{% endblock %}

{% block content %}
<div id="content" class="colM">
<h2>Node types</h2>
<form action="{% url schema.views.add_node_type graph_id %}" method="POST">
    <input type="text" name="nodetype"/>
    <input type="submit" value="Create new"/>
</form>
<br class="clear">
<div id="content-main">
{% for node_type in node_types %}
    <!--
    <h3>{{ node_type.name|capfirst }}</h3>
    -->
    <div>
    <fieldset class="module aligned wide">
    {% if node_type.name %}<h2>{{ node_type.name|capfirst }}</h2>{% endif %}
    {% for node_property in node_type.nodeproperty_set.all %}
         <div class="form-row">
         <div>
            <label {% if node_property.required %}class="required"{% endif %}>⌂ {{ node_property.key|capfirst }}</label>
            [{{ node_property.get_datatype }}] <p class="help">{{ node_property.default }}</p>
            <a class="changelink" href="#">
                Edit
            </a>
            <a class="deletelink" href="{% url schema.views.delete_default_node_property graph_id node_property.id %}">
                Remove
            </a>
        </div>
        </div>
    {% endfor %}
    {% for edge in node_type.get_edges %}
         <div class="form-row">
         <div>
            <label>→ {{ edge.relation.name|capfirst }}</label>
            [{% if edge.arity < 1 %}∞{% else %}{{ edge.arity }} × {% endif %} {{ edge.node_to.name|capfirst }}] <p class="help"></p>
            <a class="changelink" href="#">
                Edit
            </a>
            <a class="deletelink" href="#">
                Remove
            </a>
            <a class="addlink" href="{% url schema.views.add_default_edge_property graph_id edge.relation.id %}">
                Add relation property
            </a>
            {% if edge.relation.edgeproperty_set.all %}
                {% for edge_propery in edge.relation.edgeproperty_set.all %}
                <div class="form-row">
                <div>
                    <label {% if edge_propery.required %}class="required"{% endif %}>⌂ {{ edge_propery.key|capfirst }}</label>
                    [{{ edge_propery.get_datatype }}] <p class="help">{{ edge_propery.default }}</p>
                    <a class="changelink" href="#">
                        Edit
                    </a>
                    <a class="deletelink" href="{% url schema.views.delete_default_edge_property graph_id edge_propery.id %}">
                        Remove
                    </a>
                </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
        </div>
    {% endfor %}
    </fieldset>
    <div class="submit-row">
        <a class="addlink"
           href="{% url schema.views.add_default_node_property graph_id node_type.id %}">
            Add property
        </a>
        <a class="addlink"
           href="{% url schema_relation_add graph_id node_type.id %}">
            Add relation
        </a>
        <!--
        <input type="button" value="Add another" class="default" name="_save">
        <input type="submit" value="Save and add another" name="_addanother">
        <input type="submit" value="Save and continue editing" name="_continue">
        -->
    </div>
    </div>
{% endfor %}
</div>
</div>
{% endblock %}
