{% extends "graphgamel/index.html" %}

{% load adminmedia %}
{% load i18n %}

{% block branding %}
<h1 id="site-name">Sylva: Graph Schema Manager</h1>
{% endblock %}

{% block content %}
<div class="instructions">
<p>Welcome to Sylva Schema Manager. You can learn more about Sylva Schemas <a href=".">here</a>.</p>
<h3>Node Types</h3>
<ul>
{% for node_type in node_types %}
    <li class="schema_property">{{ node_type.name }}</li>
    <ul>
        <h5>{{ node_type.name }} default properties:</h5>
        <li><a class="addlink"
        href="{% url schema.views.add_default_node_property graph_id node_type.id %}">
            Add {{ node_type.name }} default property</a>
    {% if node_type.nodedefaultproperty_set.all %}
        {% for ndp in node_type.nodedefaultproperty_set.all %}
            <li>{{ ndp.key }}: {{ ndp.value }}
                <a class="deletelink"
                    href="{% url schema.views.delete_default_node_property graph_id ndp.id %}"></a>
            </li>
        {% endfor %}
    {% endif %}
    </ul>
{% endfor %}
<form action="{% url schema.views.add_node_type graph_id %}" method="POST">
    <input type="text" name="nodetype"/>
    <input type="submit" value="Create new NodeType"/>
</form>
</ul>
<h3>Edge Types</h3>
<ul>
{% for edge_type in edge_types %}
    <li class="schema_property">{{ edge_type.name }}</li>
    <ul>
        <h5>{{ edge_type.name }} default properties:</h5>
        <li><a class="addlink" href="{% url schema.views.add_default_edge_property graph_id edge_type.id %}">
            Add {{ edge_type.name }} default property</a>
    {% if edge_type.edgedefaultproperty_set.all %}
        {% for edp in edge_type.edgedefaultproperty_set.all %}
            <li>{{ edp.key }}: {{ edp.value }}
                <a class="deletelink" 
                    href="{% url schema.views.delete_default_edge_property graph_id edp.id %}"></a>
            </li>
        {% endfor %}
    {% endif %}
    </ul>
{% endfor %}
<form action="{% url schema.views.add_edge_type graph_id %}" method="POST">
    <input type="text" name="edgetype"/>
    <input type="submit" value="Create new EdgeType"/>
</form>
</ul>
<h3>Valid Relationships</h3>
<ul>
{% for vr in valid_relationships %}
    <h5><li>{{ vr.node_from.name }} {{ vr.relation.name }} {{ vr.node_to.name }}</li></h5>
{% endfor %}
<form action="{% url schema.views.add_valid_relationship graph_id %}" method="POST">
    <select name="node_from">
        {% for node_type in node_types %}
            <option value="{{ node_type.name }}">{{ node_type.name }}</option>
        {% endfor %}
    </select>
    <select name="relation">
        {% for edge_type in edge_types %}
            <option value="{{ edge_type.name }}">{{ edge_type.name }}</option>
        {% endfor %}
    </select>
    <select name="node_to">
        {% for node_type in node_types %}
            <option value="{{ node_type.name }}">{{ node_type.name }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Create new Valid Relationship"/>
</form>
</ul>
</div>
{% endblock %}
