{% extends "graphgamel/index.html" %}

{% load adminmedia %}
{% load i18n %}

{% block title %}Sylva: {{ form_title }}{% endblock %}

{% block sitename %}
<h1 id="site-name">Sylva: {{ form_title }}</h1>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url graph.views.index %}">Home</a> &rsaquo;
    {{ form_title }}
</div>
{% endblock %}

{% block content %}
<div>
    <h1>{{ form_title }}</h1>
    <form method="post" action="{{ action }}">
        {{ form.as_p }}
        <input type="submit" value="Save"/>
    </form>
</div>
{% endblock %}
