#info-main-content {
    width: 600px;
    padding: 5px;
    float:left;
}

#info-right-content {
    width: 600px;
    float:right;
    padding: 5px;
}

img.node_media {
    width:150px;
    height:150px;
}

td.audio_caption {
    vertical-align: middle;
}

div.audio_item {
    margin:10px;
}
