#info-main-content {
    width: 600px;
    padding: 5px;
    float:left;
}

#info-right-content {
    width: 600px;
    float:right;
    padding: 5px;
}

img.node_media {
    width:150px;
    height:150px;
}

td.audio_caption {
    vertical-align: middle;
}

div.audio_item {
    margin:10px;
}

form.search_box {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background: #EDF3FE;
    width: 680px;
}

label.search_label {
    vertical-align: middle;
}

div.instructions {
    width:700px;
    text-align: justify;
    font-size: 16px;
    padding-bottom: 40px;
}

div.hidden {
    display: none;
}

span.label {
    background: #EDF3FE;
}

p.nopermission {
    width: 320px;
    background: #FFD0D0;
    padding:10px;
}
